
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  position: fixed;
}

body { 
  line-height: 1.5;
  background-color: white ;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  color: blue;
  font-weight: bold;
}

a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

p {
  color: pale blue ;
}


#logo {
  height: 30px;
  width: auto;
  display: flex;
}

#titre a {
  font-weight: bold;
  color: blue;
}

/* Select langue */
#select-langue {
  font-size: 10px;
  padding: 5px 5px;
  background: none;
  border: none;
}

#btnMenu {
  background-color: white, bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 10px;
}

#btnMenu:hover {
  background: pale blue;
  border-radius: 10px;
  padding: 5px 10px;
}

#liens-deroulants {
  display: none;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

#liens-deroulants a {
  color: bleu;
  text-decoration: none;
  font-weight: bold;
}


.btnDon {
  /* Couleurs et aspect général */
  background-color: bleu;
  color: white;
  padding: 15px 15px;         
  border-radius: 10px;        
  font-weight: bold;
  font-size: 1.5 ;
  text-decoration: none;   
  display: inline-flex;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: 10px;
  cursor: pointer;
}
.btnDon:hover {
  background-color: blue; 
  transform: translateY(-3px); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {

  .logoTitre 
    display: flex !important;
    flex-direction: row !important; 
    align-items: center;
    gap: 8px; /* Espace réduit pour mobile */
  }

  /* On s'assure que la langue et le menu restent l'un à côté de l'autre */
  .langueMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  /* Réduction de la taille du titre sur mobile pour gagner de la place */
  #titre a {
    font-size: 14px;
  }
}

hero {
  align-items : center ;
  background-color : blue ;
  font-size: 15px;
  padding: 15px 16px;
  text-align : center ;
}
footer {
  background: pale black;
  color: white;
  padding: 24px 16px;
  font-size: 15px;
}




























