/* RESET */
* {
  padding: 10px 10px;
  background-color: pale blue;
}
  
body { 
  line-height: 1.5;  
}
h1, h2, h3 {
  color: blue;
  font-weight: bold;
}

a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

p {
  color: white;
  font-weight: bold;
}

.header {
  background-color: white;
}

#logo {
  height: 50px;
  width: auto; 
}


