/* RESET */
* {
  padding: 10px 10px;
  background-color: light blue;
}
  
body { 
  line-height: 1.5;  
}
h1, h2, h3 {
  color: blue;
  font-weight: bold;
}

a {
  color: blue;
  font-weight: bold;
}

p {
  color: pale blue;
  font-weight: bold;
}


