/* RESET */
* {
  padding: 0;
  background-color: pale blue;
}
  
body { 
  line-height: 1.5;  
}
h1, h2, h3 {
  color: blue;
  font-weight: bold;
}

a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

p {
  color: black;
  font-weight: bold;
}

.header {
  background-color: white;
}

#logo {
  height: 40px;
  width: auto; 
}
#titre {
  font-size: 15px;
}

.headerHaut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.logoTitre {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Style général du select */
#select-langue {
  padding: 5px 10px;          /* réduit la taille intérieure */
  font-size: 14px;             /* taille du texte */
  border: 1px solid #ccc;      /* bordure légère */
  border-radius: 5px;          /* coins arrondis */
  background-color: #fff;      /* fond blanc */
  color: #2c3e50;              /* texte couleur foncée */
  appearance: none;            /* supprime le style par défaut du navigateur */
  -webkit-appearance: none;    /* pour Safari/Chrome */
  -moz-appearance: none;       /* pour Firefox */
  cursor: pointer;             /* curseur main */
}


@media (max-width: 768px) {

  /* Header haut */
  .headerHaut {
    align-items: flex-start;
  }

#groupe-menu {
  position: relative; /* pour le dropdown si tu veux */
}

#liens-deroulants {
  display: flex;
  flex-direction: column; /* liens empilés verticalement */
  gap: 10px;
  margin-top: 5px;       /* espace sous le bouton */
  width: 100%;
}
  #btnMenu.active + #liens-deroulants {
  display: flex;
  }
  
}











